*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

body{
    background : url(bgImage.avif);
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    height: 40rem;
    width: 36rem;
    background-color: whitesmoke;
    box-shadow: 0 0 10px 3px rgba(7, 101, 139, 0.704);

}

.score-container{
    height: 4rem;
    width: 36rem;
    background-color: rgba(112, 187, 217, 0.704);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
    font-weight: 800;
}